.MDW300{
    float:left;
    width: 220px;
    height: 150px;
    padding: 5px;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;

}

.userImages{
    float: left;
    padding-right: 10px;
}

.MDW300 a{
   color: #315288;
}

.totaluser{
    font-size: 20px;
    float: left;
    margin-top: 5px;
}
.search_button{
    float: right;
    margin-top: -39px;
}
.memberheader{
    border-bottom: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 30px;

}
.memberpager{
    margin-top: 10px;
}
.search_button button{
    margin: 0;
    padding: 0;
    cursor: pointer;
}



